.card {
	display: flex;
	flex-direction: row;
	gap: 24px;
	justify-content: center;
	border: 1px solid #ccc;
	border-radius: 20px;
	padding: 24px;
	width: 888px;
}

.image {
	width: 290px;
	height: 310px;
	border-radius: 10px;
	overflow: hidden;
}
.image img {
	height: 310px;
	object-fit: cover;
}

.info {
	display: flex;
	flex-direction: column;
	gap: 24px;
	justify-content: left;
	width: 526px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.priceFavorite {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
}

.favorite {
	width: 24px;
	height: 24px;
	border: none;
}

.active {
	background-color: #e44848;
}

.meta {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 8px;
}

.description p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.details {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	text-transform: capitalize;
}

.item {
	background-color: #f2f4f7;
	border-radius: 200px;
	padding: 12px 18px;
}
